/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}
#trangchu{
    max-width: 1350px;
    margin: auto;
    min-height: 274px;
}

/* ----- header start ----- */

header {
    background-color: #00923d;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    z-index: 100000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 46px;
    width: 80%;
}

nav img {
    cursor: pointer;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding-left: 20px;
    overflow: hidden;
}

ul.navbar li {
    float: left;
}

ul.navbar li a, ul.navbar li i {
    line-height: 20px;
    position: relative;
    display: inline;
    padding: 8px 13px;
    white-space: nowrap;
    font-size: 15px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
}

ul.navbar li a:hover {
    cursor: pointer;
    color: orange;
}


/* ----- header end ----- */

/* -------- main -------- */

#trangchu-main{
    margin-top: 84px;
    padding-bottom: 42px;
}
.trangchu-list-items {
    width: 79%;
    margin: auto;
}
.trangchu-container-title {
    position: relative;

}
.trangchu-title {
    position: absolute;
    font-weight: bolder;
    font-size: 21px;
}
.trangchu-container-title > span::after {
    content: "";
    width: 50px;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 0;
    background: #00923d;
}

/* ----- cart start ----- */

.w-25{
    width: 25%;
}

#cart-container{
    width: 79%;
    margin: auto;
    text-transform: none;
    font-size: 16px;
    margin-bottom: 24px;
}

#cart-container table{
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

#cart-container table thead {
    font-weight: 700;
}

#cart-container table thead td{
    background: #00923d;
    color: #fff;
    border: none;
    padding: 6px 0 ;
}

#cart-container table td{
    border: 1px solid #b6b3b3;
    text-align: center;
}

#cart-container table td:nth-child(1),
#cart-container table td:nth-child(2){
    width: 200px;
}

#cart-container table td:nth-child(3),
#cart-container table td:nth-child(4),
#cart-container table td:nth-child(5){
    width: 170px;
}
#cart-container table td:nth-child(6){
    width: 100px;
}

#cart-container table tbody a{
    text-decoration: none;
    color: #00923d;
}

#cart-container table tbody i {
    color: #8d8c89;
}

#cart-container table tbody img{
    width: 100px;
    height: 80px;
    object-fit: cover;
}

/* ------ cart bottom start ----- */

#cart-bottom{
    width: 79%;
    margin: auto;
    padding-bottom: 20px;
}
.cart-bottom-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.cart-bottom-buy{
    display: flex;
    flex-direction: column;
    width: 500px;
}
.cart-bottom-note h5,
.cart-bottom-buy h5{
    background: #00923d;
    color: #fff;
    border: none;
    padding: 6px 12px ;
    font-weight: 700;
}
.cart-bottom-buy h6{
    padding: 13px 2px;
    font-size: 12px;
}

.cart-bottom-buy > button,
.cart-bottom-buy > div{
    border: 1px solid #b6b3b3;
    padding: 12px;
}
.cart-note{
    /* width: 200px; */
}
.cart-bottom-container .row{
    /* width: 40%; */
}


/* ------ cart bottom end ----- */

/* ----- cart end ----- */

/* ------------------------------ main end -------------------------- */

/* ---------------------------- footer start ------------------------ */

footer {
    width: 100%;
    background-color: #00923d;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: none;
    
 }
 
 .footer-wrapper {
     width: 79%;
     padding: 20px 0;
 }
 
 .footer-wrapper .footer-services {
     display: flex;
     justify-content: space-between;
     margin-bottom: 20px;
 }
 
 .footer-services .service {
     width: 33%;
 }
 
 .title_block {
     font-size: 14px;
     font-weight: 700;
     line-height: 30px;
     text-transform: uppercase;
 }
 
 .service .vertical-service a, .service .vertical-service p {
     display: block;
     font-size: 14px;
     color: #ffffff;
     text-decoration: none;
     padding: 4px 0;
     margin: 0;
     width: fit-content;
 }
 
 .service input {
     position: relative;
     border-color: #333;
     font-size: 12px;
     height: 38px;
     padding: 0px 12px;
     color: #330909;
     background-color: #fff;
     background-image: none;
     border: 1px solid #ccc;
     border-right: 0;
     border-radius: 0px;
     margin-top: 15px;
 }
 
 .service input[type='text'] {
     width: 60%;
 }
 
 .service input:focus {
     outline: 0;
 }
 
 .footer-information {
     margin-top: 20px;
     display: flex;
     justify-content: space-between;
 }
 
 .footer-information .information {
     display: flex;
 }
 
 .block_content ul {
     margin: 0 35px;
     padding: 0 15px;
     list-style-type: none;
     border-left: 1px solid #f1f1f1;
 }
 
 .block_content ul li {
     font-weight: 500;
     font-size: 12px;
     padding: 6px;
 }
 
 .block_content ul li a {
     color: #fff;
     text-decoration: none;
 }
 
 .copyright {
     font-weight: 700;
     font-size: 14px;
     color: #fff;
     margin: 0px;
     padding: 0px;
 }
 
 .social {
     float: right
 }
 
 .social .list-unstyled {
     padding-left: 0;
     margin: 5px 0px;
     list-style: none;
 }
 
 .social .list-unstyled li {
     float: left;
     text-align: center;
     padding: 4px 0;
 }
 
 .social .list-unstyled li a {
     display: inline-block;
     height: 30px;
     width: 30px;
     color: #333;
     line-height: 33px;
     background: #fff;
     box-shadow: 0 3px 5px #616161;
     border-radius: 50%;
     margin: 0 5px;
     text-decoration: none;
     transition: transform 300ms;
     font-size: 20px;
     text-align: center;
 }
 
 .social .list-unstyled li a:hover {
     color: #616161;
     transform: translatey(-5px);
 }

/* ----- footer end ----- */