/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}
#trangchu-main{
    max-width: 1350px;
    margin: auto;
}
/* ----- header start ----- */
#trangchu-header{
    height: 46px;
    background: #00923d;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000000;
    max-width: 1350px;
    margin: auto;
}
.trangchu-nav-container {
    display: flex;
    justify-content: space-between;
    /* margin-right: 50px; */
    list-style: none;
}
.trangchu-logo {
    /* margin-right: 400px;
    height: auto; */
    padding-left: 139px;
}
.nav-container {
    display: flex;
    padding-right: 139px;
    /* justify-content: space-between; */
}
.nav-container li a {
    padding: 0 12px;
}
.trangchu-nav-container li a{
    color: #fff;
    text-decoration: none;
    line-height: 46px;
}
.trangchu-nav-container li {
    font-weight: 550;
}
.trangchu-nav-container li:hover a{
    color: orangered;
}

/* ----- header end ----- */

/* ----- slider start ----- */
#trangchu-slider{
    margin: 46px 0 0 0;
    padding: 0;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #23E3C9;
}
.slider {
    width: 100%;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}
.slides {
    width: 500%;
    height: 500px;
    display: flex;
}
.slides input {
    display: none;
}
.slide {
    width: 20%;
    transition: 2s;
}
.slide img{
    width: 100%;
    height: 500px;
}
.navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    display: none;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.munual-btn:hover{
    background: #40D3DC;
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
.navigation-auto {
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}
.navigation-auto div{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
    display: none;
}
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #40D3DC;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #40D3DC;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #40D3DC;
}

/* ----- slider end ----- */

/* ----- section start ----- */

/* ---- can sua lai ---- */
#trangchu-section{
    margin-top: 46px;
    width: 100%;
}
/* ---- can sua lai ---- */
.slider-about {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0;
}
.slider-about  h1 {
    text-align: center;
    letter-spacing: 2px;
}
.slider-about  p{
    text-align: justify;
    font-size: 15px;
    margin-top: 24px;
    text-transform: none;
    line-height: 20px;
}
/* ----- section end ----- */

/* -------- main -------- */

.trangchu-list-items {
    margin: 0 124px 24px;
    padding: 0 15px;
}
.trangchu-container-title {
    position: relative;

}
.trangchu-title {
    position: absolute;
    font-weight: bolder;
    font-size: 21px;
}
.trangchu-container-title > span::after {
    content: "";
    width: 50px;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 0;
    background: #00923d;
}
.trangchu-extend {
    padding-top: 5px;
    position: absolute;
    right: 0;
    text-decoration: none;
    color: black;
    top: 0;
}
.trangchu-extend i {
    color: red;
}
.trangchu-container-items {
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.trangchu-item {
    border: 1px solid #EFEFEF;
    border-radius: 3px;
    margin-top: 15px;
    /* width: 24%; */
    padding-right: 14px;
}
.trangchu-item:hover {
    border: 1px solid black;
    opacity: 0.9;
    cursor: pointer;
}
.trangchu-item-img {
    width: 100%;
}
.trangchu-item-desc {
    margin: 10px;
}
.trangchu-item-heading {
    font-size: 16px;
    text-transform: none;
    color: #333;
}
.trangchu-item-cost {
    color: red;
    margin: 8px 0px;
}
.trangchu-item-btn {
    text-decoration: none;
    font-size: 12px;
    border: 1px solid #EFEFEF;
    color: #666;
    padding: 12px;
    margin-top: 2px;
    margin-left: 2px;
    margin-left: 72px;
    display: inline-block;
}
.trangchu-item-btn:hover {
    background: #00923d;
    color: #EFEFEF;
}

/* ----- footer ----- */

#footer{
    background: #00923d;
    margin-top: 36px;
}
#footer a {
    text-decoration: none;
    color: #EFEFEF;
    font-size: 16px;
    line-height: 36px;
}
.footer-container {
    display: flex;
    padding: 12px;
    color: #EFEFEF;
}
.footer-name {
    padding: 12px;
    margin-left: 106px;
}
.footer-logo {
    padding: 12px;
}
.footer-contact {
    border-left: 1px solid #EFEFEF;
    padding: 12px;
    text-transform: none;
}
.footer-contact small {
    padding-left: 8px;
}
.contact-list {
    list-style-type: none;
}
.footer-link {
    text-align: end;
    padding-top: 8px;
    padding-left: 36px;
    text-transform: none;
    font-style: italic;
    margin-left: 72px;
}